body {
  background-color: white;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  border-radius: 10px;
}
.liste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  a {
    text-decoration: none;
    color: #000;
  }
}

article {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: span 4;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

article:hover {
  cursor: pointer;
  transform: translateY(-6px);
  transition: transform 0.3s ease;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
}
h2 {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
header {
  background-color: #000000;
  padding: 1rem 2rem;
}

nav {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #f5f1ec;
    text-decoration: none;
    font-size: 0.95rem;
  }
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a:hover,
.cart:hover {
  text-decoration: underline;
}

#backbutton {
  margin: 2rem 0;
  padding: 0.5rem 2rem;
}

#backbutton:hover {
  cursor: pointer;
}

#claslistcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  a {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: inherit;
    border: solid black 2px;
  }
}
